<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:usesCleartextTraffic="true">
        <activity android:name=".ui.mine.MavenSearchResultActivity" />
        <activity
            android:name=".ui.mine.MavenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.system.SystemArticleDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/BottomInActivityTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.SimpleWebActivity" />
        <activity android:name=".ui.main.HomeSearchActivity" />
        <activity android:name=".ui.mine.CollectListActivity"/>
    </application>

</manifest>